@model  int

<td style="width:150px">

    <div class="btn-group" role="group" style="text-align:center">

        <a class="btn btn-sm btn-edit text-white" asp-action="Edit" asp-route-Id="@Model">
            <i class="fas fa-edit"></i>
        </a>
        
        <a class="btn btn-sm btn-outline-light">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>



</td>