
<p>
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;Add New Sub Category</a>

    <a asp-action="Index" asp-controller="Category" class="btn btn-success"> <i class="fas fa-list"></i> &nbsp; View Categories</a>
</p> 