@model int

<td style="width:150px">

    <div class="btn-group" role="group">

        <a class="btn btn-sm btn-FA text-white" asp-controller="Formative" asp-action="FormativeList" asp-route-Id="@Model">
            <i class="fab fa-buffer"></i> &nbsp; FORMATIVE
        </a>


    </div>



</td>