@model  int

<td style="width:150px">

    <div class="btn-group" role="group">

        <a class="btn btn-primary text-white" asp-action="ModuleList" asp-route-Id="@Model">
            <i class="fas fa-edit"></i>
        </a>

    </div>



</td>