@model int

<td style="width:150px">

    <div class="btn-group" role="group">

        <a class="btn btn-sm text-white btn-SA" asp-controller="Summative" asp-action="SummativeList" asp-route-Id="@Model">
            <i class="fas fa-graduation-cap"></i> &nbsp; SUMMATIVE
        </a>


    </div>



</td>