@model  int

<td style="width:150px">

    <div class="btn-group" role="group">

        <a class="btn btn-sm btn-success text-white" asp-controller="CourseTopic" asp-action="TopicList" asp-route-Id="@Model">
            <i class="far fa-list-alt"></i> &nbsp; TOPICS
        </a>
       

    </div>



</td>