@model  int
<td style="width:150px">
           <div class="btn-group" role="group">

        <a class="btn btn-danger text-white" asp-controller="CourseModule" asp-action="Index" asp-route-Id="@Model">
            <i class="fas fa-lock"></i> &nbsp; NO MODULE
        </a>

    </div>



</td>